<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tibbers.zhonghui.dao.IAuditingProsDao">
    <resultMap id="AuditingProsResult" type="java.util.Map">
        <id column="serialid" jdbcType="VARCHAR" property="serialid"/>
        <result column="productid" jdbcType="VARCHAR" property="productid"/>
        <result column="productname" jdbcType="VARCHAR" property="productname"/>
        <result column="imagepath" jdbcType="VARCHAR" property="imagepath"/>
        <result column="auditor" jdbcType="VARCHAR" property="auditor"/>
        <result column="auditstate" jdbcType="VARCHAR" property="auditstate"/>
        <result column="applydatetime" jdbcType="VARCHAR" property="applydatetime"/>
        <result column="begindatetime" jdbcType="VARCHAR" property="begindatetime"/>
        <result column="enddatetime" jdbcType="VARCHAR" property="enddatetime"/>
        <result column="rejectreason" jdbcType="VARCHAR" property="rejectreason"/>
    </resultMap>


    <insert id="applyAudit4Product" parameterType="com.tibbers.zhonghui.model.AuditingPros">
        insert into tauditingpros values (#{serialid},#{productid},#{auditor},#{auditstate},#{applydatetime},#{begindatetime},#{enddatetime},#{rejectreason})
    </insert>

    <insert id="applyAudit4Products" parameterType="java.util.List">
        insert into tauditingpros values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.serialid},#{item.productid},#{item.auditor},#{item.auditstate},#{item.applydatetime},#{item.begindatetime},#{item.enddatetime},#{item.rejectreason})
        </foreach>
    </insert>
    <update id="auditProductApply" parameterType="com.tibbers.zhonghui.model.AuditingPros">
        update tauditingpros set auditor = #{auditor},auditstate = #{auditstate},begindatetime = #{begindatetime},enddatetime = #{enddatetime},rejectreason = #{rejectreason} where serialid = #{serialid}
    </update>

    <!--审核的产品必须是未上架的，审核过了才可以上架-->
    <select id="querySerialByAuditState" parameterType="java.util.Map" resultMap="AuditingProsResult">
        select t1.serialid,t1.productid,t2.productname,t2.imagepath,t1.auditor,t1.auditstate,t1.applydatetime,t1.begindatetime,t1.enddatetime,t1.rejectreason
        from tauditingpros t1,tproduct t2,tproductbelong t3
        where t1.productid = t2.productid and t2.productid = t3.productid
        and t3.salestate = '0' and t1.auditstate = #{auditstate}
        order by t1.applydatetime
        <if test="pager != null">
            limit #{pager.startLine},#{pager.offset}
        </if>
    </select>
</mapper>