<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--增，查-->
<mapper namespace="com.tibbers.zhonghui.dao.IOrderItemsDao">
    <resultMap id="OrderItemsResult" type="java.util.Map">
        <result column="serialid" jdbcType="VARCHAR" property="serialid"/>
        <result column="orderid" jdbcType="VARCHAR" property="orderid"/>
        <result column="productid" jdbcType="VARCHAR" property="productid"/>
        <result column="productname" jdbcType="VARCHAR" property="productname"/>
        <result column="pronumber" jdbcType="VARCHAR" property="pronumber"/>
        <result column="discount" jdbcType="VARCHAR" property="discount"/>
        <result column="shopcarid" jdbcType="VARCHAR" property="shopcarid"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="reverse1" jdbcType="VARCHAR" property="reverse1"/>
        <result column="reverse2" jdbcType="VARCHAR" property="reverse2"/>
    </resultMap>


    <insert id="insertItemsBatch" parameterType="java.util.List">
        insert into torderitem VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.serialid},#{item.orderid},#{item.productid},#{item.pronumber},#{item.discount},#{item.shopcarid},#{item.note},#{item.reverse1},#{item.reverse2})
        </foreach>
    </insert>

    <select id="queryItemsByPager" parameterType="java.util.Map">
        select t1.serialid,t1.orderid,t1.productid,t2.productname,t1.pronumber,t1.discount,t1.shopcarid,t1.note,t1.reverse1,t1.reverse1
        from torderitem t1,tproduct t2
        where t1.productid = t2.productid
        <if test="orderitem != null">
            <if test="orderitem.orderid != null and !&quot;&quot;.equals(orderitem.orderid)">and t1.orderid = #{orderitem.orderid}</if>
            <if test="orderitem.productid != null and !&quot;&quot;.equals(orderitem.productid)">and t1.productid = #{orderitem.productid}</if>
            <if test="product != null and product.productname != null and !&quot;&quot;.equals(product.productname)">and t2.productname like '%'#{product.productname}'%'</if>
            <if test="orderitem.note != null and !&quot;&quot;.equals(orderitem.note)">and t1.note like '%' #{orderitem.note} '%' </if>
            <if test="orderitem.reverse1 != null !&quot;&quot;.equals(orderitem.reverse1)">and t1.reverse1 = #{orderitem.reverse1} </if>
            <if test="orderitem.reverse2 != null ">and t1.reverse2 like '%' #{orderitem.reverse2} '%' </if>
        </if>
        <if test="pager != null">limit #{pager.startLine},#{offset}</if>
    </select>
</mapper>