<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tibbers.zhonghui.dao.IProductBelongDao">

    <resultMap id="SingleRelation" type="com.tibbers.zhonghui.model.ProductBelong">
        <id column="serialid" jdbcType="VARCHAR" property="serialid"/>
        <result column="productid" jdbcType="VARCHAR" property="productid"/>
        <result column="accountid" jdbcType="VARCHAR" property="accountid"/>
        <result column="salestate" jdbcType="VARCHAR" property="salestate"/>
        <result column="remaindernum" jdbcType="INTEGER" property="remaindernum"/>
    </resultMap>


    <insert id="insertSingleRelation" parameterType="com.tibbers.zhonghui.model.ProductBelong">
        insert into tproductbelong values(#{serialid},#{productid},#{accountid},#{salestate},#{remaindernum})
    </insert>


    <update id="updateProductState" parameterType="com.tibbers.zhonghui.model.ProductBelong">
        update tproductbelong set salestate = #{salestate} where productid = #{productid}
    </update>

    <update id="updateProductBelongRemaindernum" parameterType="com.tibbers.zhonghui.model.ProductBelong">
        update tproductbelong set remaindernum = #{remaindernum} where productid = #{productid}
    </update>

    <insert id="insertBatchRelation" parameterType="java.util.List">
        insert into tproductbelong values
        <foreach collection="list" index="index" separator="," item="item">
            (#item.serialid,#{item.productid},#{item.accountid},#{item.salestate},#{remaindernum})
        </foreach>
    </insert>
</mapper>