<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tibbers.zhonghui.dao.IRecommandDao">

    <resultMap id="RecommandResult" type="com.tibbers.zhonghui.model.Recommand">
        <result column="serialid" jdbcType="VARCHAR" property="serialid"/>
        <result column="accountid" jdbcType="VARCHAR" property="accountid"/>
        <result column="recommander" jdbcType="VARCHAR" property="recommander"/>
        <result column="recommanddate" jdbcType="VARCHAR" property="recommanddate"/>
        <result column="recommandtime" jdbcType="VARCHAR" property="recommandtime"/>
        <result column="reverse1" jdbcType="VARCHAR" property="reverse1"/>
        <result column="reverse2" jdbcType="VARCHAR" property="reverse2"/>
    </resultMap>

    <resultMap id="myRecommander" type="java.util.Map">
        <result column="accountid" jdbcType="VARCHAR" property="accountid"/>
        <result column="accountname" jdbcType="VARCHAR" property="accountname"/>
        <result column="imagepath" jdbcType="VARCHAR" property="imagepath"/>
        <result column="imagepath" jdbcType="VARCHAR" property="imagepath"/>
        <result column="score" jdbcType="VARCHAR" property="score"/>
        <result column="isvip" jdbcType="VARCHAR" property="isvip"/>
        <result column="custtype" jdbcType="VARCHAR" property="custtype"/>
        <result column="accobalance" jdbcType="VARCHAR" property="accobalance"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="summary" jdbcType="VARCHAR" property="summary"/>
    </resultMap>

    <resultMap id="recommandRelation" type="java.util.Map">
        <result column="accountid" jdbcType="VARCHAR" property="accountid"/>
        <result column="recommander" jdbcType="VARCHAR" property="recommander"/>
        <result column="isvip" jdbcType="VARCHAR" property="isvip"/>
    </resultMap>

    <resultMap id="relation" type="java.util.Map">
        <result column="accountid" jdbcType="VARCHAR" property="accountid"/>
        <result column="isvip" jdbcType="VARCHAR" property="isvip"/>
        <result column="custtype" jdbcType="VARCHAR" property="custtype"/>
        <result column="recommander" jdbcType="VARCHAR" property="recommander"/>
    </resultMap>

    <insert id="insertRecommand" parameterType="com.tibbers.zhonghui.model.Recommand">
        insert into trecommand values (#{serialid},#{accountid},#{recommander},#{recommanddate},#{recommandtime},#{reverse1},#{reverse2})
    </insert>

    <select id="queryRecommandByPager" parameterType="java.util.Map" resultMap="RecommandResult">
        select * from trecommand
        <if test="pager != null">
            limit #{pager.startLine},#{pager.offset}
        </if>
    </select>

    <!--<select id="queryMyRecommandAccounts" parameterType="java.util.Map" resultMap="myRecommander">
        select accountid,accountname,imagepath,imagepath,score,isvip,custtype,accobalance
        from taccount where accountid in (select accountid from trecommand where recommander = #{recommand.recommander})
        <if test="pager != null">
            limit #{pager.startLine},#{pager.offset}
        </if>
    </select>-->

    <!--只显示非VIP的下线，如果下线成为VIP，那么就不显示了-->
    <select id="queryMyRecommandAccounts" parameterType="java.util.Map" resultMap="myRecommander">
        select 'total' as accountid,'' as accountname,'' as imagepath,'' as score,'' as isvip,'' as custtype,'' as accobalance,'' as comefrom,CAST(count(*) AS char) as number,'' as summary
          from trecommand a ,taccount c where a.accountid = c.accountid and a.recommander = #{recommand.recommander} and c.custtype = '1'
        union all
        select * FROM (select accountid,accountname,imagepath,score,isvip,custtype,accobalance,IFNULL(t2.comefrom,'null') as comefrom,IFNULL(t2.number,'0') as number,IFNULL(t2.summary,'0') as summary
          from taccount t1 left join (
          select comefrom,CAST(count(*) AS CHAR) as number,CAST(sum(CAST(income AS decimal(12,2))) AS CHAR) as summary from trecommandincome where accountid = #{recommand.recommander} and alreadydone = '1' group by comefrom) t2
          on t1.accountid = t2.comefrom where t1.accountid in (select accountid from trecommand where recommander = #{recommand.recommander})
          order by t2.summary desc
          <if test="pager != null">
              limit #{pager.startLine},#{pager.offset}
          </if>) b where b.custtype = '1'

    </select>

    <!--accountid是客户本身，recommander是推荐人的账号id-->
    <select id="recommandByVIP" parameterType="java.lang.String" resultMap="recommandRelation">
        select t1.accountid,t1.recommander ,t2.isvip from trecommand t1,taccount t2
         where t1.recommander = t2.accountid and t1.accountid = #{_parameter}
    </select>

    <select id="queryRecommandByAccountid" parameterType="java.lang.String" resultMap="relation">
        select a.accountid,a.isvip,a.custtype,b.recommander from trecommand b,taccount a where a.accountid = b.accountid and a.accountid = #{_parameter}
    </select>
</mapper>